@import "_imports.scss";

html{
	background-image: url(../img/p/struckaxiom.png);
	background-image: url(../img/p/ps_neutral.png);
	background-image: url(../img/p/geometry.png);
}
a { 
	text-decoration: none;
	cursor:pointer;
	@media only screen and (min-device-width: 1281px) {	
		text-shadow: 0 0 1px #eee;		
		  -webkit-transition: all 0.18s ease-out; 
		     -moz-transition: all 0.18s ease-out; 
		       -o-transition: all 0.18s ease-out; 
		          transition: all 0.18s ease-out; 
		      }
	//border-bottom: 1px solid transparent;
		//color: #99C43D !important;
	&:hover {
		//border-bottom: 1px solid #C4953D;
		//color: #C4953D !important;	
	}
	&:focus {
		//border-bottom: 1px solid #785B25;
		//color: #785B25 !important;	
	}
	&:active {
		//border-bottom: 1px solid #99C43D;
		//color: #99C43D !important;	
	}
}

.width-1of2 {
	width: 50%;
	float: left;
}




.page-wrapper{
	max-width: 1024px;
	margin: 0 auto;
	-webkit-box-shadow: 0px 0px 6px 0px #858585;
        	box-shadow: 0px 0px 6px 0px #858585;
}


.coming-soon{
	background-color: #fff;
	.stock-image{
		overflow: hidden;
		img{
			display: block;
			max-height: 500px;
		}
	}
	.logo{		
		background-color: #fff;
	img{
		padding-top: 2em;
		height: 370px;
		margin: 0 auto;
		display: block;
		}
}
	p {
		font-family: 'Patua One', cursive;
		font-size: 4em;
		text-align: center;
		margin: 0 auto;
		color: #d3995a;
		text-shadow: 1px 1px 2px #9e9e9e;
	}
	.for-android{
		color: #8cc63e;
		font-size: 2em;
	}
}
.email-launch{
	background-color: #666;	
	padding: 1em 2em 2em 2em;
	p{
		font-family: 'Roboto Slab', serif;	
		font-size: 1.5em;
		margin: 0.5em 0;
		color: #fff;
	}
	.email-input-field{
		border: 1px solid #dadada;
		-webkit-border-radius: 4px;
				border-radius: 4px;
		padding: 1em;
		width: 100%;
		max-width: 20em;
	}
	input[type="submit"]{
		font-family: 'Patua One', cursive;
		font-size: 1em;
		color: #8B571E;
		background-color: #ffffff;
		background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#dfdfdf)); 
		background-image: -webkit-linear-gradient(top, #ffffff, #dfdfdf);
		background-image:    -moz-linear-gradient(top, #ffffff, #dfdfdf); 
		background-image:      -o-linear-gradient(top, #ffffff, #dfdfdf); 
		background-image:         linear-gradient(to bottom, #ffffff, #dfdfdf);
		border: 1px solid #adadad;
		-webkit-border-radius: 4px;
				border-radius: 4px;
		padding: .4em 1em;
	}
}

.about{
	padding: 1em 2em 2em 2em;
	background-color: #fff;
	h1 {
		color: #8cc63e;
		font-size: 3em;
		font-family: 'Patua One', cursive;
	}
	p{
		font-size: 1.5em;
		font-family: 'Roboto Slab', serif;
		color: #777;
	}
}

.footer{
	font-family: 'Roboto Slab', serif;
	padding: 1em 2em .5em 2em;
	background: #8cc63e;
	color: #fff;
	h2{
		color: #fff;
	}
}

.footer, .about, .email-launch {
	background-image: url(../img/shadow.png);
	background-repeat: repeat-x;
}